//- index.pug
doctype html 
html 
  head
    //- meta tags
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- link tags for loading fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap' rel='stylesheet')
    //- the rest
    title #{htmlWebpackPlugin.options.title}
    style(type='text/css').
      body {
        margin: 0;
        padding: 0;
      }
      body * {
        margin: auto;
      }
  body 
    div#main.main
